<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>ChicBiju</title>
        
        
        <meta name="keywords" content="produse reduse,  bijuterii, accesoriu, cercei, colier, pret, bratara, comanda, favorite"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Site de Bijuterii.Coliere.Cercei.Bratari.Talismane.Pandantive.Aur.Argint.Reduceri."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        
        <%- include("../fragmente/head.ejs") %>


    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <div id="grid-pagina">
            <section id="acasa">
                <button id="tema" class="btn btn-primary ">Schimba tema</button>
                <h2>Bine ati venit!</h2>
                <p>Bine ati venit pe site-ul nostru! Aici veti descoperi cele mai <i lang="fr">chic</i> <b>bijuterii</b>!<br> 
                    Va puteti alege modelele preferate in diferite culori si materiale.
                    Produsele noastre sunt perfecte pentru a fi oferite cadou celor dragi, avand disponibile o varietate de moduri
                    de accesorizare in mod personalizat!
                    Spor la cumparaturi!</p>
                    <!--am pus 50 la suta smaller pt telefon si 25 la suta pt tableta-->
                <figure>
                    <picture>
                        <source media="(max-width: 700px)" srcset="./Resurse/imagini/img3.png" >
                        <source media="(max-width: 1000px)" srcset="./Resurse/imagini/img2.png" >
                        <!-- <img id="poster" src="./Resurse/imagini/img1.png" alt="imagine bijuterii" title="poster"> -->
                        <img id="poster" src="./Resurse/imagini/ChicBiju.png" alt="poster" title="poster">
                    </picture>
                </figure>
                    
               
            </section>
            <section id="tabel">
                <h2>ZONA 2 EVENIMENTE</h2>

                 <p>Bijuteriile sunt un element cheie in accesorizarea reusita a tuturor tinutelor, astfel ca specialistii in acest domeniu 
                    organizeaza in colaborare cu ChicBiju diferite evenimente cu discutii specifice acestui subiect!
                    Consultati programul afisat pe site pentru a afla detalii despre fiecare eveniment!
                    
                 </p>
                 <div class="tcontainer">
                <table>
                    <caption>Eveniment importante <span class="fas fa-star fa-sm  fa-pulse"></span></caption>
                    <thead>
                      <tr>
                        <th>SUBIECT</th>
                        <th>LOCATIE</th>
                        <th>ZIUA</th>
                        <th>ORA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Asortare Bijuterii</td>
                        <td>Sediul ChicBiju</td>
                        <td><time datetime="2023-06-12">12 Iunie 2023</time></td>
                        <td>13:00</td>
                      </tr>
                      <tr>
                        <td>Aur sau argint?</td>
                        <td>Online</td>
                        <td><time datetime="2023-07-12">12 Iulie 2023</time></td>
                        <td>16:00</td>
                      </tr>
                      <tr>
                        <td>Pietre pretioase</td>
                        <td>Sediul ChicBiju</td>
                        <td><time datetime="2023-09-22">22 Septebrie 2023</time></td>
                        <td>15:00</td>
                      </tr>
                      <tr>
                        <td>Ingrijirea Bijuteriilor</td>
                        <td>Online</td>
                        <td><time datetime="2023-08-01">1 August 2023</time></td>
                        <td>14:00</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="4">Intrare libera</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
             
           
            </section>
            <section id="populare">
                <h2 id="hpopulare">Produse populare</h2>
                <section id="galerie-statica">
                    <h3>Prezentare produse</h2>
                    <br>
                    <div id="grid-galerie">
                        <% for (let imag of locals.imagini) {
                        d=new Date();
                        var v_luni=["ianuarie", "februarie", "martie","aprilie","mai","iunie","iulie","august","septembrie","octombrie","noiembrie","decembrie"]
                       if(imag.luni && imag.luni.includes(v_luni[d.getMonth()])){  
                            
                         %>
                           
                                <figure>
                                    <div id="imgsidesc">
                                    <picture>
                                        <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                                        <div id="imggal"><img src="<%- imag.fisier %>" alt="imagine" title="produs"></div>
                                    </picture>
                                    <% if(imag.autor) { %>
                                        <figcaption><%- imag.descriere %> by
                                                <%- imag.autor %></figcaption>
                                        <% } else { %>
                                            <figcaption><%- imag.descriere %>
                                            </figcaption>
                                            <% } %>
                                    </div>
                                     
                                </figure>
                                <div id="blank">
                                    <div id=reflexie>
                                    <div id="text">Produse </div>
                                    <div id="text-reflectat">Produse</div>
                                </div></div>
                                <% }  %>
                        <% }  %>
                     
                    </div>   
                          
                </section>
                <hr>
                <br><br>
                
                <br><br>
                    
                <p>Produsele populare pe site-ul nostru in acest sezon  sunt <a href="#clips">cerceii tip clips</a>, acestia aducand 
                    o nota de eleganta tinutelor dumneavoastra de zi cu zi!
                    De asemenea, va aducem in atentie si alte produse populare, impreuna cu cateva <a href="https://youtu.be/cRLhQRaxGj8" 
                    target="_blank">produse surpriza</a> ce vor fi disponibile pe site-ul nostru curand!
                </p>
                <div class="container-video">
                    <video width="500" height="315" controls="controls" preload="metadata" poster="/Resurse/imagini/img1.png"> 
                        <source src="/Resurse/videoclipuri/EpicMind Studio's Jewelry Video Reel.mp4" type="video/mp4">
                        <source src="/Resurse/videoclipuri/EpicMind Studio's Jewelry Video Reel.avi" type="video/avi">
                        <track default src="/Resurse/videoclipuri/my_captionsro.vtt" kind="captions" srclang="ro" label="romana">
                        <track src="/Resurse/videoclipuri/my_captionsen.vtt" kind="captions" srclang="en" label="engleza">

                    </video>

                </div>
                <!--am pus 50 la suta smaller pt telefon si 25 la suta pt tableta-->
                <!-- <figure>
                    <picture>
                        <source media="(max-width: 700px)" srcset="./Resurse/imagini/img3.png" >
                        <source media="(max-width: 1000px)" srcset="./Resurse/imagini/img2.png" >
                        <img  src="./Resurse/imagini/img1.png" alt="imagine bijuterii" title="imagine bijuterii">
                    </picture>
                    <figcaption>Imagine decor</figcaption>
                </figure> -->
            </section>    
            <section id="reduse">
                <h2>ZONA 7 Produse reduse</h2>
                <p>Pentru ca ne plac surprizele, va oferim <b>produse reduse</b> la pret si diferite perioade in care puteti beneficia de cele mai bune preturi.</p>
                <details>
                    <summary>Bratari la reducere</summary>
                    <ul>
                        <li>Bratara ajustabila de argint fara pandantiv la doar <s>120 lei</s> <ins style="text-decoration:none;"> 100 lei!</ins> </li>
                        <li>Bratara fixa placata cu aur roz la doar <s>80 lei</s> <ins style="text-decoration:none;">65 lei!</ins> </li>
                    </ul>
                </details>
                <details>
                     <summary>Cercei la reducere</summary>
                    <ul>
                        <li>Cercei cu clips la doar <s>50 lei</s> <ins style="text-decoration:none;">40 lei!</ins> </li>
                        <li>Cercei cu surub cu sclipici la doar <s>40 lei</s> <ins style="text-decoration:none;">35 lei!</ins></li>
                    </ul>
                </details>
                <details>
                    <summary>Coliere la reducere</summary>
                    <ul>
                         <li>Colier de argint fara pandantiv la doar <s>50 lei</s> <ins style="text-decoration:none;">40 lei!</ins> </li>
                         <li>Colier de argint cu pandantiv la doar <s>80 lei</s> <ins style="text-decoration:none;">60 lei!</ins> </li>

                    </ul>
                </details>
                <details>
                      <summary><b>Reduceri</b> de sezon</summary>
                     <p> In luna martie beneficiati de reducere de 20% la toate bratarile, <strong>doar daca aveti un <a href="#cont">cont</a> pe site-ul nostru</strong>!</p>
                     <p> In data de <time datetime="2023-11-25">25 Noiembrie 2023</time> beneficiati de reducere de 30% la toate tipurile de <b>bijuterii</b>, <strong>doar daca aveti un <a href="#cont">cont</a> pe site-ul nostru</strong>!</p>

                </details>   
                    
            </section>
                <section id="bratari">
                    <h2>ZONA 3 Bratari</h2>
                    <p> Bratarile ChicBiju sunt un accesoriu ideal pentru tinutele de zi cu zi, si pot servi drept suport pentru
                        numeroasele variante de talismane disponibile pe site.Din aceste motive, va oferim mai multe tipuri de bratari!</p>
                        <section id="fixe">
                            <h3>Bratari fixe</h3>
                            <ul>
                                <li>Bratari fixa model infinity</li>
                                <li>Bratara stars</li>
                                <li>Bratara sunny</li>
                            </ul>
                        </section>
                        <section id="ajustabile">
                            <h3>Bratari ajustabile </h3>
                            <ul>
                                <li>Bratara ajustabila cu diamant</li>
                                <li>Bratara ajustabila cu trifoi</li>
                                <li>Bratara ajustabila cu detalii florale</li>
                            </ul>
                            
                        </section>
                        <section id="pentruglezna">
                            <h3>Bratari pentru glezna</h3>
                            <p>Bratara cu detalii scoici</p>
                            <p>Bratara simpla placata cu argint</p>
                        </section>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit velit, quae labore dicta doloribus quas 
                        totam quo dolorum numquam illo non, alias mollitia cumque voluptatum. Illo magni ratione nisi quisquam.</p>
                    
            </section>
                <!-- <section id="coliere">
                    <h2>Coliere</h2>
                    <p>Colierele ChicBiju sunt confectionate din <b>argint</b> si <b>aur</b>, putand fi puse in valoare prin asortarea cu bratari si cercei potriviti. </p>
                        <section id="cupandantiv">
                            <h3>Coliere cu pandantiv</h3>
                            <p>Acest tip de <b>coliere</b> au propriul pandantiv.Astfel ca nu este necesara achizitionarea unui pandantiv separat!</p>
                                <ul>
                                    <li>Colier din argint cu pandantiv tip fulg</li>
                                    <li>Colier din aur cu arbore</li>
                                    <li>Colier cu infinit</li>
                                    <li>colier cu fluture</li>
                                </ul>
                            
                        </section>
                        <section id="farapandantiv">
                            <h3>Coliere fara pandantiv </h3>
                            <p>Acest tip de coliere nu au propriul pandantiv.Se poate atasa un pandantiv din sectiunea <b>Accesorii</b> avand astfel ocazia sa 
                            personalizati propriul colier in functie de preferintele dumneavoastra!</p>
                            <ul>
                                <li>Colier simplu din argint</li>
                                <li>Colier simplu din aur</li>
                                <li>Colier din argint cu pietre pretioase</li>
                            </ul>
                            
                        </section>

                </section> -->
                <section id="cercei">
                    <h2>ZONA 4 Cercei</h2>
                    <p> Aici veti gasi modele unice de <b>cercei</b>, concepute special pentru a aduce un plus de stralucire look-ului dumneavoastra.
                        Asortati cerceii achizitionati cu <a href="#bratari">bratarile</a> si <a href="#coliere">colierele</a> ChicBiju pentru un look complet.
                    </p>
                        <section id="surub">
                            <h3>Cercei cu surub</h3>
                            <p>Acesti cercei au sistem de inchidere cu surub. </p>
                                <ul>
                                    <li>Cercei balerina</li>
                                    <li>Cercei fluturas</li>
                                    <li>Cercei fulgi de zapada</li>
                                    <li>Cercei stelute</li>
                                    <li>Cercei trifoi</li>
                                </ul>
                           
                        </section>
                        <section id="clips">
                            <h3>Cercei tip clips</h3>
                            <p>Acesti cercei sunt de tip clips.</p>
                            <ul>
                                <li>Cercei clips perle</li>
                                <li>Cercei clips soare</li>
                                <li>Cercei clips funda</li>
                            </ul>
                        </section>
                        <section id="clasici">
                            <h3>Cercei cu tortita(clasici)</h3>
                            <p>Acesti cercei au in sistem de inchidere clasic, cu tortita</p>
                            <ul>
                                <li>Cercei lungi cu cristale</li>
                                <li>Cercei rotunzi</li>
                            </ul>
                        </section>
                        <button class="btn btn-primary "><a id="detalii" href="/produse?tip=cercei">DETALII</a></button>
                </section>
                <section id="accesorii">
                    <h2>ZONA 5 Lista de utilizatori online</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, voluptatibus quidem ex praesentium pariatur iure
                        aspernatur. Velit illo inventore sint dolor veniam corrupti vel repellendus id. Repellat vitae quo inventore.
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quod laborum deserunt corrupti minima quisquam eum perferendis 
                     facere, iusto hic vero illo dolores ipsam veritatis consequuntur voluptas velit recusandae fugit.
                    </p>
                    <p>
                        Ip: <%- locals.ip %>
                    </p>
                    <!-- <p>Pentru a va usura cautarea accesoriilor potrivite pentru bijuteriile dumneavoastra am creat aceasta sectiune,
                        dedicata accesoriilor reprezentate de <b>talismane</b> si <b>pandantive</b>.Aceste accesorii se ataseaza
                        bratarilor si colierelor pentru a putea purta bijuteriile achititionate in mai multe combinatii!
                    </p> 
                   
                    <section id="talismanezodiac">
                        <h3>Talismane zodiac</h3>
                        <ul>
                            <li>Talisman zodia Berbec</li>
                            <li>Talisman zodia Taur</li>
                            <li>Talisman zodia Gemeni</li>
                            <li>Talisman zodia Rac</li>
                            <li>Talisman zodia Leu</li>
                            <li>Talisman zodia Fecioara</li>
                            <li>Talisman zodia Balanta</li>
                            <li>Talisman zodia Scorpion</li>
                            <li>Talisman zodia Sagetator</li>
                            <li>Talisman zodia Capricorn</li>
                            <li>Talisman zodia Varsator</li>
                            <li>Talisman zodia Pesti</li>
                        </ul>
                    </section>
                    <section id="talismanenatura">
                        <h3>Talismane cu elemtente din natura</h3>
                        <ul>
                            <li>Talisman cu trifoi</li>
                            <li>Talisman cu insecte</li>
                            <li>Talisman sunflower</li>
                            <li>Talisman bufnita</li>
                        </ul>
                    </section>
                    <section id="talismaneinitiala">
                        <h3>Talismane cu initiala</h3>
                        <p>Accesorii pentru <b>bratari</b> ce au reprezentate initiale, fiind perfecte pentru personalizarea bratarilor de care se ataseaza.</p>
                        <ul>
                            <li>Talisman inititala A</li>
                            <li>Talisman inititala B</li>
                            <li>Talisman inititala C</li>
                            <li>Talisman inititala D</li>
                            <li>Talisman inititala E</li>
                        </ul>
                    </section>
                    <section id="pandantive">
                        <h3>Pandantive</h3>
                        <ul>
                            <li>Pandantiv gargarita</li>
                            <li>Pandantiv albina</li>
                            <li>Pandantiv ursulet</li>
                        </ul>
                    </section>-->
                </section>
                
            
            <section id="ingrijire">
                <!--sursa link extern:https://www.stildiamonds.ro/blog/sfaturi-pentru-intretinerea-bijuteriilor-->
                <h2> ZONA 6 Igrijirea bijuteriilor</h2>
            <p>Bijuteriile noastre sunt confectionate, respectiv placate cu <b>aur</b> si <b>argint</b>.
                Pentru a va intretine bijuteriile, acestea au nevoie de o ingrijire speciala.
                Cateva sfaturi referitoare la acest subiect gasiti <a href="https://www.stildiamonds.ro/blog/sfaturi-pentru-intretinerea-bijuteriilor" 
                target="_blank">aici</a>.
               Pentru modul de curatare al bijuteriilor in functie de materialul din care sunt facute, va recomandam sa vizionati tutorialele de mai jos: 
            </p>
        <div class="container-iframe">
            <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/E_dt3sPOKzg" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
            <div class="taburi-iframe">
            <a href="https://www.youtube.com/embed/E_dt3sPOKzg" target="ifr-video">Aur</a>
            <a href="https://www.youtube.com/embed/pvkc6b4Wi1A" target="ifr-video">Argint</a>
            </div>
            </div>
        </section>    
        </div>
      <!-- PT BUTON TOP -->
        <div id="ext">
            <a id="back-to-top" href="#">
                <div id="int" title="Back to top"></div>
            </a>
        </div>

        </main>
        <%- include("../fragmente/footer.ejs") %>
        
    

    </body>
</html>