<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="produse reduse,  bijuterii, accesoriu, cercei, colier, pret, bratara, comanda, favorite"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Site de Bijuterii.Coliere.Cercei.Bratari.Talismane.Pandantive.Aur.Argint.Reduceri."><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        
        <link rel="stylesheet" href="/Resurse/css/produse.css" type="text/css" />
        <title>ChicBiju - produse</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/Resurse/js/produse.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" id="inp-nume" class="form-control" placeholder=" ">
                    <label for="inp-nume">Nume</label>
                </div>
            </div>
            
            <div class="col-md-8">
            <!-- PENTRU GRAMAJ -->
                <div  class="btn-group btn-group-toggle" data-toggle="buttons"> Greutate:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
                    <p><label class="btn btn-outline-primary " >Usor (gramaj &lt; 10)
                        <input id="i_rad1"  name="gr_rad" value="0:10" type="radio"/>
                    </label></p>
                    <p><label class="btn btn-outline-primary">Mediu (10&le; gramaj &lt; 15)
                        <input id="i_rad2"  name="gr_rad" value="10:15" type="radio"/>
                    </label>
                    <p><label class="btn btn-outline-primary">Greu (15&le; gramaj)
                        <input id="i_rad3" name="gr_rad" value="15:1000000000" type="radio"/>
                    </label>
                    <p><label class="btn btn-outline-primary">Toate
                        <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
                    </label>
                </div>
            </div>
        </div>
        <!-- <div> Material:
            <p><label>Aur
                <input id="i_rad4"  name="gr_rad1" value="aur" type="radio"/>
            </label></p>
            <p><label>Argint 
                <input id="i_rad6"  name="gr_rad1" value="argint" type="radio"/>
            </label>
            <p><label>Otel inoxidabil 
                <input id="i_rad7" name="gr_rad1" value="otel inoxidabil" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad8" checked name="gr_rad1" value="toate" type="radio"/>
            </label>
        </div> -->
        <br>
        <div  class="form-floating">
            <textarea class="form-control" id="i_textarea" placeholder=" " required></textarea>
            <label for="i_textarea">Descriere produs</label>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Interval de pret:
                    <select id="i_sel_multiplu" multiple size="4"  class="form-select">
                        <option value="0-500" selected>oricat</option>
                        <option value="30-80">30-80</option>
                        <option value="80-130">80-130</option>
                        <option value="130-180">130-180</option>
                        <option value="180-230">180-230</option>
                        <option value="230-280">230-280</option>
                    </select>
                </label>
            </div>
            <div class="col-md-3">
                <label>Categorile produse:
                    <select id="inp-categorie" class="form-select">
                        <option id="sel-toate" selected value="toate">toate</option>
                        <% for (let opt of locals.optiuni) { %>
                            <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="col-md-3">
                <label>Datalist:
                    <input list="id_lista" id="i_datalist" class="form-control">
                    <datalist id="id_lista">
                        <option value="data1">Datalist 1</option>
                        <option value="data2">Datalist 2</option>
                    </datalist>
                </label>
            </div>   
        </div>
        <div class="row">
        <div class="col-md-6">
            <label class="inline-label" > 
                <!-- mt-3 margin top e 0.75rem -->
                 Pret: 
                 <input class="form-range mt-3" type="range" id="inp-pret" value="0" min="0"  max="250"> 
                 <span id="infoRange">(0)</span>
            </label>
        </div>
        </div>
        
       
       
        
        
    
        <p>
        
        <button id="filtrare" class="btn btn-primary btn-lg">Filtreaza</button> 

        <button id="resetare" class="btn btn-primary btn-lg">Reseteaza</button><br/>
        <button id="sortCrescMaterial" class="btn btn-secondary btn-lg">Sorteaza crescator dupa pret si material</button>
        <button id="sortDescrescMaterial" class="btn btn-secondary btn-lg">Sorteaza descrescator dupa pret si material</button>
        
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                        <div class="prd">
                            <div class="info-prod">
                                <!-- <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Descriere:
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p><span class="descriere"><%-prod.descriere %> </span></p>
                                        </div>
                                      </div>
                                    </div>
            
                                </div> -->
                               
                                <p class="descriere">Descriere:<span class="val-descriere"><%- prod.descriere%></span></p>
                                <p class="pret">Pret: <span class="val-pret"><%- prod.pret%> lei</span></p>
                                <p class="gramaj">Gramaj: <span class="val-gramaj"><%- prod.gramaj%> grame</span></p>
                                <p class="material">Material: <span class="val-material"><%- prod.material%></span></p>
                                <p class="pietreincluse">Pietre incluse: <span class="val-pietreincluse"><%- prod.pietreincluse%></span></p>
                                <% function formatDate(date) {
                                    const options = {
                                        day: '2-digit',
                                        month: 'long',
                                        year: 'numeric',
                                        weekday: 'long'
                                    };
                                    const formattedDate = new Date(date).toLocaleDateString('ro-RO', options);
                                    //descompune șirul formattedDate în patru componente și le atribuie variabilelor respective weekday, month, day și year
                                    const [weekday, day, month , year] = formattedDate.split(' ');
                                    return `${weekday.charAt(0).toUpperCase() + weekday.slice(1)} ${day}-${month.charAt(0).toUpperCase() + month.slice(1)}-${year} `;
                                } %>
                                <p class="data_adaugare">Data Adaugare: <span class="val-data_adaugare"><%- formatDate(prod.data_adaugare) %></span></p>
                                <% function yesorno(impachetare) {
                                    if(impachetare)
                                        return "DA";
                                    else 
                                        return "NU";
                                } %>
                                <p>Impachetatare cadou: <span class="impachetare"><%- yesorno(prod.impachetare_cadou) %> </span></p>
                            </div>
                            <figure>
                                <a href="/produs/<%-prod.id %>" ><img src="/Resurse/imagini/produse/<%- prod.imagine %>" style="width:80%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                            </figure>
                        </div>
                        <label class="selecteaza-cos">
                            Adauga in cos:
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>